//

/**
 * Emoji data based on the data available from https://github.com/iamcal/emoji-data.
 *
 * @copyright  2019 Ryan Wyllie <ryan@moodle.com>
 * @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */

export const byCategory = {{{byCategory}}};

export const byShortName = {{{byShortName}}};
